<div class="cuadro">
  <h1 class="txt-center">Contador</h1>
  <p>{{numero}}</p>
  <div class="boton">
  <button class="btn btn-primary boton1" (click)="numero = numero +1;" >+acendende</button>
  <button class="btn btn-danger  boton2" (click)="numero = numero -1 " >-descendente</button>
  </div>
</div> 
<br>
<div class="cuadro2">
  <h1 class="txt-center">Contador</h1>
  <p>{{numero2}}</p>
  <div class="boton">
  <button class="btn btn-success boton3" (click)=" sumar() " >+acendende</button>
  <button class="btn btn-info  boton4" (click)=" restar() " >-descendente</button>
</div>
</div>
  
    
    
  


